* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.container img{

}

.container h2{
    text-align: center;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;

    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    margin-left: 75%;
}



.menu li {
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: #3c92f5;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #1f1c1c;
}

section {
    padding: 50px 0;
}

#sobre{
    background-color: rgb(217, 207, 207);
}

h2 {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

#servicos.azul {
    background-color: #3c92f5;
    color: #fff;
}

.servicos-container {
    font-size: 0;
    text-align: center;
}

.servicos {
    display: inline-block; 
    width: calc(25% - 20px); 
    margin: 10px 5px; 
    vertical-align: top; 
    font-size: initial;  
}

.servicos img {
    max-width: 100%;
    max-height: 130px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.servicos img:hover{
    transform: scale(1.1);
    border: blue solid 2px;
}
.servicos p{
    text-align: center;
}

form {
    margin-top: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: rgb(197, 197, 30);
    color: blue;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #3c92f5;
}


.redes-sociais a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.redes-sociais a:hover {
    color: #3c92f5;
}

#sobre .container {
    overflow: hidden;
}

#sobre p {
    width: 50%;
    float: left;
}

#sobre img {
    width: 50%;
    float: right;
}

#mecanica{
    background-color: rgb(47, 47, 145);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

#mecanica .avaliacao{
   margin-right: 15%;
}

#mecanica .contatos{
    margin-right: 3%;
}

#mecanica a{
    text-decoration: none;
    color: white;
    border: 1px white solid;
    border-radius: 5px;
    margin-right: 10%;
    padding: 1%;
}

#contato{
    background-color:  rgb(45, 45, 191);
}

#contato h2, label{
    color: rgb(197, 197, 30);
}

#contato input{
    border-radius: 5px;
    border: none;
}


footer {
    background-color: rgb(45, 45, 191);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top: white 3px solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p,
.redes-sociais a {
    margin-bottom: 10px;
}